.classDiv {
  background-color: black;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  padding: 2%;
  font-size: 20px;
}

.divConatos {
  background-color: black;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  padding: 2%;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 20px;
  font-style: oblique;
}